<div class="container">
  <div class="row">

    <div class="col-md-3">
      <%= render 'form' %>
    </div>

    <div class="col-md-8 offset-md-1">
      <%= render 'list', contents: @contents, info: @info %>
    </div>

  </div>
</div>